# Imports

In [1]:
# to prevent to restart kernel when any changes are made to any imported file
%reload_ext autoreload
%autoreload 2

# to import any file from some other directory

# to stop printing warnings
import warnings
warnings.filterwarnings('ignore')
def warn(*args, **kwargs):
    pass
warnings.warn = warn
    
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_colwidth', -1)

# to increase cells width
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

# to enable collapsible Headings and Functions
# !pip install jupyter_contrib_nbextensions
# !jupyter contrib nbextension install --user
# !jupyter nbextensions_configurator enable --user
# !jupyter nbextension enable codefolding/main
# search collapsible to enable

# enable dark theme
# !pip install jupyterthemes
# !jt -t monokai

# monokai
# solarizedd
# !jt -r
import numpy as np
import faiss
from faiss import normalize_L2
import pandas as pd
import sys, os
from datetime import datetime, timedelta
import requests
import json
import timeit
from datetime import datetime
import os.path, time
from datetime import datetime, timedelta
from threading import Timer
import pdb, random

Loading faiss.

In [6]:
sys.path.append("utils/")
from get_glove_emb import get_glove_embeddings
from similar_git import get_similar_tickets

# Get Data

In [3]:
train=pd.read_pickle("data/train.pkl").reset_index(drop=True)
test=pd.read_pickle("data/test.pkl").reset_index(drop=True)

train["key"] = "KEY"+train.index.astype(str)
test["key"]  = "KEY"+test.index.astype(str)

print(train.shape, test.shape)

(7613, 6) (3263, 5)

In [4]:
train.head()

,id,keyword,location,text,target,key
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all,1,KEY0
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,KEY1
2,5,NaN,NaN,All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected,1,KEY2
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation orders in California",1,KEY3
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school,1,KEY4

In [5]:
test.head()

,id,keyword,location,text,key
0,0,NaN,NaN,Just happened a terrible car crash,KEY0
1,2,NaN,NaN,"Heard about #earthquake is different cities, stay safe everyone.",KEY1
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are fleeing across the street, I cannot save them all",KEY2
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,KEY3
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,KEY4

# Get GloVe Embeddings

In [14]:
train_emb=get_glove_embeddings(train)
test_emb=get_glove_embeddings(test)

train_emb.shape, test_emb.shape

((7613, 7), (3263, 6))

# Test Script

In [15]:
s=timeit.default_timer()
result_df = get_similar_tickets(train_emb, test_emb.sample(10), "key", "emb", k=5, threshold=0.95)
e=timeit.default_timer()
print("Overall total time: ", e-s)

starting operations
creating faiss index
FAISS index trained:  True
Total db vectors:  7613
starting calculations
query vector created
got results from FAISS
creating result dataframe
Overall total time:  0.20901058800518513

In [16]:
result_df

,key,query_text,NN1_text,NN1_score,NN1_number,NN2_text,NN2_score,NN2_number,NN3_text,NN3_score,NN3_number,NN4_text,NN4_score,NN4_number,NN5_text,NN5_score,NN5_number
0,KEY2262,NSW - BANKSTOWN Stacey St at Wattle St\nHAZARD Oil spill\nStarted today 11:38am last checked today 11:54am\nImpact:... http://t.co/5ze5Z6BjLi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KEY2648,just trying to smoke and get Taco Bell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KEY427,New Ladies Shoulder Tote Handbag Faux Leather Hobo Purse Cross Body Bag Womens - Full readÛ_ http://t.co/Rpn6pXLPiB http://t.co/l6aYlVVDZ0,New Ladies Shoulder Tote Handbag Faux Leather Hobo Purse Cross Body Bag Womens - Full readÛ_ http://t.co/uR7FeXszg4 http://t.co/wb8awobLcL,1,KEY983,New Ladies Shoulder Tote Handbag Faux Leather Hobo Purse Cross Body Bag Womens - Full readÛ_ http://t.co/4FXfllRIen http://t.co/i12NLSr8Fk,1,KEY966,New Women Handbag Faux Leather Ladies Shoulder Tote Cross Body Bag Large Satchel - Full reÛ_ http://t.co/NCjPGf6znv http://t.co/GeRJau74eY,0.988411,KEY973,New Ladies Shoulder Tote Handbag Women Cross Body Bag Faux Leather Fashion Purse - Full reÛ_ http://t.co/y87Gi3BRlV http://t.co/1zbhVDCXzS,0.988237,KEY952,New Ladies Shoulder Tote Handbag Women Cross Body Bag Faux Leather Fashion Purse - Full reÛ_ http://t.co/3PCNtcZoxv http://t.co/n0AkjM1e4B,0.988237,KEY962
3,KEY92,@_drodrolagi #handplacementgoals \nBro we annihilated that hashtag this week.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KEY1143,Crackdown 3 Destruction Restricted to Multiplayer: Crackdown 3 impressed earlier this week with a demonstratio... http://t.co/ma9LLiKcjk,Crackdown 3 Destruction Restricted to Multiplayer: Crackdown 3 impressed earlier this week with a demonstratio... http://t.co/gwESgesZxV,1,KEY2630,Crackdown 3 Destruction Restricted to Multiplayer: Crackdown 3 impressed earlier this week with a demonstratio... http://t.co/LMWKjsYCgj,1,KEY2614,Crackdown 3 Destruction Restricted to Multiplayer: Crackdown 3 impressed earlier this week with a demonstratio... http://t.co/N08qluornx,1,KEY2634,NaN,NaN,NaN,NaN,NaN,NaN
5,KEY2679,RT @WhistlerBlckcmb: One more #SnowBackSunday share: Snowstorm on the Glacier July 26 2015! via @momentumcamps http://t.co/JohKyMv9El,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,KEY827,RT #Target Best price on #Avril Crushed Sheer #CurtainPanel #Curtains #Decor #Blinds #Shades : http://t.co/TBhbuX6dc0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,KEY1532,Russian 'food crematoria' provoke outrage amid crisis famine memories http://t.co/kZYvMnqHy7 via @Reuters,Russian 'food crematoria' provoke outrage amid crisis famine memories http://t.co/h6Z7hXUqtu via @YahooNews,0.961215,KEY3563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,KEY2452,If John Bateman scores we riot... https://t.co/zuPz8ZlO2X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,KEY802,aQgcO mhtw4fnet\n\nPakistan says army helicopter has crashed in country's restive northwest - Fox News,f496D mhtw4fnet\n\nPakistan says army helicopter has crashed in country's restive northwest - Fox News,1,KEY1841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN